@model Ecommerce.Web.ViewModel.UserRolesViewModel
@{
    ViewBag.Title = "UserRole";
}

<h2>UserRole</h2>

<body>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>User <b>Management</b></h2>
                        </div>
                        <div class="col-sm-7">
                            <a href="#" class="btn btn-secondary"><i class="material-icons"></i> <span>Add New User</span></a>
                            <a href="#" class="btn btn-secondary"><i class="material-icons"></i> <span>Export to Excel</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Phone Number</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var I = 1; string Selected = ""; }


                        @foreach (var User in Model.Users)
                        {
                            <tr>
                                <td>@I</td>
                                <td><a>@User.Name</a></td>
                                <td>@User.Email</td>
                                <td>
                                    @foreach (var role in User.Roles)
                                    {
                                        @Model.AvailableRoles.Find(x => x.Id == role.RoleId).Name
                                    }
                                </td>
                                <td>@User.PhoneNumber</td>
                                <td>
                                    <a class="btn btn-danger" href="@Url.Action("Manage","User" , new { userId = User.Id })" id="EditRoles" title="">EditRoles</a>
                                </td>
                            </tr>
                            I++;
                        }

                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>